
@import url(https://fonts.googleapis.com/css?family=Gentium+Basic:400,400italic);
@import url(https://fonts.googleapis.com/css?family=Tangerine);


/* For debugging and proofing*/
span.bibl {
    border: 1px dotted gray;
}

span.title {
    background: rgb(255,255,235);
}

span.author {
    background: rgb(235,255,255);    
}

body {
    font-family: 'Gentium Basic', serif;

}
footer .poweredby { float: right; margin: 33px 10px 0 0;}
footer .poweredby img { width: 120px; }

#toc {
    font-size: small;
}

div.note {
    font-size: smaller;
}

span.title {
    font-style: italic;
}

ol.catalog {
    list-style-type:none;
}

ol.catalog li { margin: 0 0 6px 0; }

span.ciconum {
    font-weight: bold;
    padding-right: 5px; 
   }

   
h1,h2 {
        font-family: 'Gentium Basic', serif;
}

.pageBreak{
    margin: 10px 0 0 0;
    padding: 10px 0;
    border-top: 1px dotted #c5c5c5;
    text-align: right;
}